<?xml version="1.0" encoding="utf-8"?>
<Playbook>
    <Name>BetterOS</Name>
    <Username>User</Username>
    <Title>BetterOS Playbook</Title>
    <ShortDescription>Playbook for Windows 10 and 11</ShortDescription>
    <Description>This Playbook will help you quickly deploy BetterOS on your current system.</Description>
    <Details>Open source and free optimization for widly used Windows 10 and 11. Making an ok OS in to a BetterOS</Details>
    <Version>23.0.1</Version>
    <SupportedBuilds>
        <string>19044</string>
        <string>19045</string>
        <string>22621</string>
    </SupportedBuilds>
    <Requirements>
        <Requirement>DefenderToggled</Requirement>
        <Requirement>NoPendingUpdates</Requirement>
        <Requirement>NoAntivirus</Requirement>
        <Requirement>Internet</Requirement>
        <Requirement>PluggedIn</Requirement>
    </Requirements>
    <!--<ProductCode>101</ProductCode>-->
    <!--<Git>https://github.com/meetrevision/playbook</Git>-->
    <!--<Website>https://www.revi.cc</Website>-->
    <!--<DonateLink>https://www.buymeacoffee.com/meetrevision</DonateLink>-->
</Playbook>